<%- include('../includes/dashhead') %>
<main>
  <div class="_wYiJGbRZyFZeCc8y7Sf _Ybd3WwuTVljUT4vEaM3 _Vb9igHms0hI1PQcvp_S rvdRhGyExrNYTA6euxsF Q_jg_EPdNf9eDMn1mLI2 sJNGKHxFYdN5Nzml5J2j EpUSgjHdM6oyMXUiK_8_ qUWbS_LTZujDB4XCd11V _1jTZ8KXRZul60S6czNi _fGhMnSfYmaGrv7DvZ00 mImPrEfIaGNezZJDwguu">

<div class="Q_jg_EPdNf9eDMn1mLI2 UYOSZJ1_pv3B5nt1ujCP YGZ_TYrBRFL45RhSwT1Z SQf297smyJVNzzOO3iQL xr7CqaTHxTvDOrwAH2SW">
    <div>
        <a href="print()" class="_k0lTW0vvzboctTxDi2R Nm7xMnguzOx6J5Ao7yCU Q_jg_EPdNf9eDMn1mLI2 b9aD6g2qw84oyZNsMO8j _Cj_M6jt2eLjDgkBBNgI t6gkcSf0Bt4MLItXvDJ_ c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe ijrOHNoSVGATsWYKl4Id y6GKdvUrd7vp_pxsFb57 mveJTCIb2WII7J4sY22F g40_g3BQzYCOX5eZADgY YoPCmQ0E_V5W0GGmSIdm _dylIDxYTN3qgvD4U597 KmgKPWh7pHX4ztLneO0T icxWjIgUd9_dzYucx1nx d8_fVOcgDmbt7UdpfeLK WuKugQzwTT7o1wwBck2R _ZsTMX_gz275093orLWM">
            <svg class="fhCwost7CSNRc2WSHLFW ZEPNZzATe5nPnS0shmrF YIUegm7fh_CpJbivTu6B MnxxlQlR1H0xJuMEE8Yr" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            Download Invoice
        </a>
    </div>
    <div>
      <a  class="_k0lTW0vvzboctTxDi2R Nm7xMnguzOx6J5Ao7yCU Q_jg_EPdNf9eDMn1mLI2 b9aD6g2qw84oyZNsMO8j _Cj_M6jt2eLjDgkBBNgI t6gkcSf0Bt4MLItXvDJ_ c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe ijrOHNoSVGATsWYKl4Id __9sbu0yrzdhGIkLWNXl _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F pXhVRBC8yaUNllmIWxln vpDN1VEJLu5FmLkr5WCk _7KA5gD55t2lxf9Jkj20 _dylIDxYTN3qgvD4U597 KmgKPWh7pHX4ztLneO0T icxWjIgUd9_dzYucx1nx _1jTZ8KXRZul60S6czNi XIIs8ZOri3wm8Wnj9N_y Mmx5lX7HVdrWCgh3EpTP dMTOiA3mf3FTjlHu6DqW OPrb_iG5WDy_7F05BDOX">
        <svg class="fhCwost7CSNRc2WSHLFW ZEPNZzATe5nPnS0shmrF YIUegm7fh_CpJbivTu6B MnxxlQlR1H0xJuMEE8Yr" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4v3H4a2 2 0 00-2 2v3a2 2 0 002 2h1v2a2 2 0 002 2h6a2 2 0 002-2v-2h1a2 2 0 002-2V9a2 2 0 00-2-2h-1V4a2 2 0 00-2-2H7a2 2 0 00-2 2zm8 0H7v3h6V4zm0 8H7v4h6v-4z" clip-rule="evenodd"></path></svg>
        Print
    </a>
    </div>
</div>
</div>

<div class="xCPtuxM4_gihvpPwv9bX wDF2ls8Apmy3KGiCbxI_ iHPddplqYvrN6qWgvntn">
<div class="EWLTGduHCjFnjN6tLCXV _Zt0QWNoskeJIuWJ94UW XJih04pKHf8Cekga6Hj3 hD0sTTDgbxakubcHVW2X QzGxlDe4W0Kn6V1Dkd6r c1eYUZ_8_Ngd_nOQIopI FFcQetUrTcbSdxPEonbj">
    <nav class="YRrCJSr_j5nopfm4duUc Td37IMFwOi4Zt3Vhv3cT" aria-label="Breadcrumb">
        <ol class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2 R0X5VtiZIoV7IjvrxBJ_ hPWJir4VhLurUkdR8iyI">
          <li class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2">
            <a href="#" class="_k0lTW0vvzboctTxDi2R Q_jg_EPdNf9eDMn1mLI2 rYHHksRBEMl_guI3q0UQ ZnBoTVi7VOJdCLSSU62n EJIoL6514Ry8r7nh011L dMTOiA3mf3FTjlHu6DqW">
              <svg class="ADSeKHR1DvUUA48Chci_ rxe6apEJoEk8r75xaVNG T1qzIiYBzxDgBnL9ISMF" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>
              Home
            </a>
          </li>
          <li>
            <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
              <svg class="YIUegm7fh_CpJbivTu6B MnxxlQlR1H0xJuMEE8Yr _JmTNv5EiHqK2A1jcQSf" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="#" class="c2LzVf9SsdSEMBrRjNwS c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe rYHHksRBEMl_guI3q0UQ ZnBoTVi7VOJdCLSSU62n EbR_B0tHyczsKYnc0ktU EJIoL6514Ry8r7nh011L dMTOiA3mf3FTjlHu6DqW">E-commerce</a>
            </div>
          </li>
          <li>
            <div class="YRrCJSr_j5nopfm4duUc Q_jg_EPdNf9eDMn1mLI2">
              <svg class="YIUegm7fh_CpJbivTu6B MnxxlQlR1H0xJuMEE8Yr _JmTNv5EiHqK2A1jcQSf" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <span class="c2LzVf9SsdSEMBrRjNwS c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe _JmTNv5EiHqK2A1jcQSf EbR_B0tHyczsKYnc0ktU qIT6vrYn0Fr1U3wlPXaS XIIs8ZOri3wm8Wnj9N_y" aria-current="page">Invoice</span>
            </div>
          </li>
        </ol>
    </nav>
    <h1 class="vyo_A8gnQD1QWDPglr3h yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl NdexIDe6BTJXjtSnppoV OyABRrnTV_kvHV7dJ0uE">Invoice</h1>
</div>
<div id="invoice" class="_rqdzTLZuOhGujxvI_Bb _wYiJGbRZyFZeCc8y7Sf _Zt0QWNoskeJIuWJ94UW hD0sTTDgbxakubcHVW2X _Ybd3WwuTVljUT4vEaM3 mveJTCIb2WII7J4sY22F mngKhi_Rv06PF57lblDI _YxZw_O8dWkTljptcO7z SWDELhWFjL8JxEtm91_o _1jTZ8KXRZul60S6czNi _6jpNyQau_A4imT2blKn DK_tVGlnJVpSJzqmtFRV _8rJrICBuRpUxEBkdHIF _LxKPo9M0PIFCGZPppU5 c1eYUZ_8_Ngd_nOQIopI Y3QAfhxtVpqyvmw1OQEz">
    <div class="wBVMFkIGfrKshbvi2gS1 _wYiJGbRZyFZeCc8y7Sf qDsn8ha5_HppqMcLKJwF lXnUo5ZfOYcYrrsH1Izf">
        <div class="rvdRhGyExrNYTA6euxsF">
            <div class="Td37IMFwOi4Zt3Vhv3cT q1oXbofRCOhVhOSB8tiU IOPhczRgtphv6NdNBDjj cdZDaAM7xDQV_z8X7CiP tkZo48dB4RhnHSlDXzoe OyABRrnTV_kvHV7dJ0uE">Invoice #0472</div>
            <div class="tI6ZVpHcCWxY_MKHSQWC upQp7iWehfaU8VTbfx_w sZYS4vWJatzZF6efWgCA LyVFTdcmKAHP4E6xZt0h">
                <!-- <div class="justify-content-center d">
                  <img src="../../img/logo.png" alt="" width="10%">  
                </div>                       -->
                <div class="wezTbYJgxYJp5ZDqX67N">
                    <div class="y0nOgdpiqOUaFDbjAxwD yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Blazync Pvt Ltd.</div>
                    <div class="y0nOgdpiqOUaFDbjAxwD yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">428 SF, EWS Flats, Swarnnagri, </div>
                    <div class="c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">Greater Noida. 201310</div>
                </div>
                <div class="c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y"><%= new Date() %></div>
            </div>
        </div>
        <div class="oeCS4mDFkk8KH_qyDAoJ">
            <div class="hD0sTTDgbxakubcHVW2X d3C8uAdJKNl1jzfE9ynq IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl sdSaZcRa4_We5kKaX4pf OyABRrnTV_kvHV7dJ0uE">Bill to</div>
            <address class="d3C8uAdJKNl1jzfE9ynq _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">
                <% company.forEach(data => { %>
                    <% if(data._id.toString() === invoice.company.toString()) { %>
                        <%= data.name %><br>
                        <%= data.address %><br>
                        <%= data.email %><br>
                        <%= data.phone %>
                    <% } %>
                <% }) %>
                
            </address>
        </div>
        <!-- Table -->
        <div class="YRrCJSr_j5nopfm4duUc e8VqoQNK0mbkRFDL3LMV rAK1rJOGQIuHVnOkla3l">
            <div class="_IebywwKB6L2zG0BTy63 EpUSgjHdM6oyMXUiK_8_ qUWbS_LTZujDB4XCd11V Mmx5lX7HVdrWCgh3EpTP">
                <div class="VPGGthdu3cy_ZP7AL7dt TK9h2c2b79uBgR_cJzCE u0Aizb1ol0gBXDISYKJM">
                    <div class="wBVMFkIGfrKshbvi2gS1 mngKhi_Rv06PF57lblDI">
                        <table class="TK9h2c2b79uBgR_cJzCE">
                            <thead class="__9sbu0yrzdhGIkLWNXl jtAJHOc7mn7b4IKRO59D OyABRrnTV_kvHV7dJ0uE jqg6J89cvxmDiFpnV56r">
                                <tr>
                                    <th scope="col" class="_wYiJGbRZyFZeCc8y7Sf gMXmdpOPfqG_3CKkL0VD yM_AorRf2jSON3pDsdrz _fj5qD1qKucIHy44xhzZ upQp7iWehfaU8VTbfx_w sdSaZcRa4_We5kKaX4pf Zbcg0Bjzm_C_64FAwnE3">
                                    Services/Product
                                    </th>
                                    <th scope="col" class="_wYiJGbRZyFZeCc8y7Sf gMXmdpOPfqG_3CKkL0VD yM_AorRf2jSON3pDsdrz _fj5qD1qKucIHy44xhzZ upQp7iWehfaU8VTbfx_w sdSaZcRa4_We5kKaX4pf">
                                        Qty
                                    </th>
                                    <th scope="col" class="_wYiJGbRZyFZeCc8y7Sf gMXmdpOPfqG_3CKkL0VD yM_AorRf2jSON3pDsdrz _fj5qD1qKucIHy44xhzZ upQp7iWehfaU8VTbfx_w sdSaZcRa4_We5kKaX4pf _McrmMbFrEkc_sTK9IC8">
                                        Total
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="__9sbu0yrzdhGIkLWNXl _Ybd3WwuTVljUT4vEaM3 OyABRrnTV_kvHV7dJ0uE _1jTZ8KXRZul60S6czNi">
                                <tr>
                                    <td class="_wYiJGbRZyFZeCc8y7Sf c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL BHrWGjM1Iab_fAz0_91H">
                                        <div class="d3C8uAdJKNl1jzfE9ynq yM_AorRf2jSON3pDsdrz"><%= invoice.description %></div>
                                        <!-- <div class="c8dCx6gnV43hTOLV6ks5 _43MO1gcdi2Y0RJW1uHL PeR2JZ9BZHYIH8Ea3F36 XIIs8ZOri3wm8Wnj9N_y">---</div> -->
                                    </td>
                                    <td class="_wYiJGbRZyFZeCc8y7Sf d3C8uAdJKNl1jzfE9ynq yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl BHrWGjM1Iab_fAz0_91H OyABRrnTV_kvHV7dJ0uE">
                                        1
                                    </td>
                                    <td class="_wYiJGbRZyFZeCc8y7Sf d3C8uAdJKNl1jzfE9ynq yM_AorRf2jSON3pDsdrz BHrWGjM1Iab_fAz0_91H">
                                      ₹ <%= invoice.amount %>
                                    </td>
                                </tr>
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tI6ZVpHcCWxY_MKHSQWC LyVFTdcmKAHP4E6xZt0h sZYS4vWJatzZF6efWgCA oeCS4mDFkk8KH_qyDAoJ">
            <div class="YRrCJSr_j5nopfm4duUc sJNGKHxFYdN5Nzml5J2j">
                <div class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 sdSaZcRa4_We5kKaX4pf XIIs8ZOri3wm8Wnj9N_y">Subtotal</div>
                <div class="d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">₹ <%= invoice.amount %></div>
            </div>
            <div class="YRrCJSr_j5nopfm4duUc sJNGKHxFYdN5Nzml5J2j">
                <div class="c8dCx6gnV43hTOLV6ks5 ezMFUVl744lvw6ht0lFe PeR2JZ9BZHYIH8Ea3F36 sdSaZcRa4_We5kKaX4pf XIIs8ZOri3wm8Wnj9N_y">Tax rate</div>
                <div class="d3C8uAdJKNl1jzfE9ynq ezMFUVl744lvw6ht0lFe __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">₹ 35</div>
            </div>
            <div class="YRrCJSr_j5nopfm4duUc sJNGKHxFYdN5Nzml5J2j">
                <div class="d3C8uAdJKNl1jzfE9ynq yM_AorRf2jSON3pDsdrz __9sbu0yrzdhGIkLWNXl sdSaZcRa4_We5kKaX4pf OyABRrnTV_kvHV7dJ0uE">Total</div>
                <div class="d3C8uAdJKNl1jzfE9ynq IOPhczRgtphv6NdNBDjj __9sbu0yrzdhGIkLWNXl OyABRrnTV_kvHV7dJ0uE">₹ <%= invoice.amount + 35 %></div>
            </div>
        </div>
    </div>
</div>
</div>

</main>
<script>
  document.querySelector('a[href="#"]').addEventListener('click', function() {
      // Get the invoice div
      var invoiceDiv = document.getElementById('invoice');

      // Create a new window for printing
      var printWindow = window.open('', '_blank');
      printWindow.document.write('<html><head><title>Print</title></head><body>');
      printWindow.document.write(invoiceDiv.innerHTML);
      printWindow.document.write('</body></html>');

      // Close the document after printing
      printWindow.document.close();

      // Print the document
      printWindow.print();
  });
</script>
<%- include('../includes/dashfooter') %>